.text-white {
  color: var(--light-color);
}

/* text stylings */
.text-center {
  text-align: center;
}

/* button stylings */
.btn {
  display: inline-block;
  cursor: pointer;
  min-width: 130px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: var(--green-color);
  color: var(--light-color);
  border-radius: 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 2rem;
}

/* layout stylings */
.container {
  max-width: calc(1145px - 20px);
  padding: 0 2rem;
  margin: 0 auto;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* media queries */
@media (min-width: 678px) {
  .py-4 {
    padding: 8rem 0;
  }
  .section-title h2 {
    margin-bottom: 4.2rem;
  }
}
